@page
@model PrivacyModel
@{
    ViewData["Title"] = "About The Developers";
}
<h1>@ViewData["Title"]</h1>

<p>Brennen Vanderpool - brennenvanderpool@mail.weber.edu</p>
<p>Chris Jensen - chrisjensen3@mail.weber.edu</p>
<p>Jaeden Fisher - jaedenfisher@mail.weber.edu</p>
<p>Joseph Brower - josephbrower@mail.weber.edu</p>