@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CASPAR</h1>
    <br />
    <br />
    <h2>College Academic Schedule Planning And Reporting System</h2>
    <br />
    <h3>Your perfect schedule is just a few clicks away</h3>
</div>
