@page
@model CASPARWeb.Areas.Stud.Pages.WishListsOLD.IndexModel
@{
}
<div class="container">
	<div class="row pt=4">
		<!--Start Row-->
		<div class="col-3">
			<!--50% of row-->
			<h2 class="text-primary">
				Student Preferences
			</h2>
		</div><!-- End 1st Column-->
		<div class="col-3 text-end">
			<!--25% row right justified-->
			<span style="display:none" id="selectedSemesterId">@(Model.SelectedSemesterId != 0 ? Model.SelectedSemesterId : "0")</span>
			<select id="ddlSemesterInstance" class="form-select rounded">
			</select>
		</div> <!--End 2nd Column-->
		<div class="col-6 text-start">
			<!--25% row-->
			<a asp-page="Insert" asp-route-semesterInstanceId="0" class="btn btn-primary rounded" id="addPreferenceBtn">
				<i class="bi bi-plus-circle"></i> Add Preference
			</a>
		</div> <!--End 3rd Column-->
	</div> <!--End Row-->

	<table class="table table-bordered table-striped" id="DT_Students" style="width:100%">
		<thead>
			<tr>
				<th>
					Course
				</th>
				<th>
					Modality
				</th>
				<th>
					Campus
				</th>
				<th>
					Time of Day
				</th>
				<th>&nbsp;</th>
			</tr>
		</thead>

	</table>
</div> <!--Close Container-->
@section Scripts{
	<script src="~/js/students.js"></script>
}