@page
@model CASPARWeb.Areas.Coord.Pages.BuildSchedule.IndexModel
@{
}
<div class="container">
    <div class="row pt=4">
        <!--Start Row-->
        <div class="col-6">
            <!--50% of row-->
            <h2 class="text-primary">
                Semesters
            </h2>
        </div><!-- End 1st Column-->
        <div class="col-6 text-end">
            <!--50% row right justified-->
        </div> <!--End 2nd Column-->
    </div> <!--End Row-->
    <table class="table table-bordered table-striped" id="DT_Semesters" style="width:100%">
        <thead>
            <tr>
                <th>
                    Semester
                </th>
                <th>
                    Status
                </th>
                <th>&nbsp;</th>
            </tr>
        </thead>
    </table>
</div> <!--Close Container-->
@section Scripts
    {
    <script src="~/js/buildSchedule.js"></script>
}