@page
@model CASPARWeb.Areas.Admin.Pages.Amenity.DeleteModel
@{
}
<div class="card shadow border-0 mt-4 col-6 mx-auto">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Delete Classroom Amenity</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input type="hidden" asp-for="objClassroomAmenity.Id" />
            <div class="border p-3">
                <label class="form-label">Classroom Amenity</label>
                <div class="form-group mt-1">
                    <input disabled id="ddlTimeOfDay" asp-for="objClassroomAmenity.ClassroomAmenityName" asp-items="@Model.objClassroomAmenity.ClassroomAmenityName" class="form-control border-0 shadow">
                </div>
                <div class="row pt-2 mt-3">
                    <div class="col-6">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6">
                        <a asp-page="./Index" class="btn btn-outline-primary border  form-control">
                            Back to Classroom Amenities
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
