@page
@model CASPARWeb.Areas.Admin.Pages.Amenity.UpsertModel
@{
}
<div class="card shadow border-0 mt-4 col-6 mx-auto">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary py-2">@(Model.objClassroomAmenity.Id != 0 ? "Update " : "Add ") Classroom Amenity</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            @*<div asp-validation-summary="ModelOnly"></div>*@
            <input type="hidden" asp-for="objClassroomAmenity.Id">
            <div class="border p-3">
                <label class="form-label">Classroom Amenity</label>
                <div class="form-group mt-1">
                    <input id="inputAmenityName" asp-for="objClassroomAmenity.ClassroomAmenityName" class="form-control border-0 shadow" />
                </div>
                <div class="row pt-2 mt-3">
                    <div class="col-6">
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary form-control">@(Model.objClassroomAmenity.Id != 0 ? "Update " : "Add ")</button>
                    </div>
                    <div class="col-6">
                        <a asp-page="./Index" class=" btn btn-outline-primary border form-control">
                            Back to Classroom Amenities
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function ValidateInput() {
        if (document.getElementById('inputAmenityName').value == "") {
            swal.fire('Error', 'Please Enter a Amenity Name', 'error');
            return false;
        }
        return true;
    }
</script>