@page
@model CASPARWeb.Areas.Admin.Pages.Semesters.UpsertModel
@{
}
<div class="card shadow border-0 mt-4 col-6 mx-auto">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary py-2">@(Model.objSemester.Id != 0 ? "Update " : "Add ") Semester Template</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input type="hidden" asp-for="objSemester.Id">
            <div class="border p-3">
                <label class=" ms-2">Name</label>
                <div class="py-2">
                    <input asp-for="objSemester.SemesterName" class="form-control border-0 shadow" />
                </div>
                <div class="row pt-2">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary form-control">@(Model.objSemester.Id != 0 ? "Update " : "Add ")</button>
                    </div>
                    <div class="col-6">
                        <a asp-page="./Index" class="btn btn-outline-primary border form-control">
                            Back to Semester Templates
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
